@charset "utf-8";
@import "node_modules/bulma/sass/utilities/initial-variables";
@import "node_modules/bulma/sass/utilities/functions";

// 2. Set your own initial variables
// Update blue
$info: #347396;
// Add pink and its invert
$pink: #ffb3b3;
$pink-invert: #fff;
// Add a serif family
$family-serif: "Merriweather", "Georgia", serif;

.box.is-active {
    box-shadow: 0 0.5em 1em -0.125em rgba(30, 30, 30, 0.5);
    font-weight: bolder;
}


@import "../node_modules/bulma";